body{
	font-family: futura;
	background-image: url("images/jumbo.png");
}

h1{
	text-align: center;
	background-color: #508ABA;
	margin-bottom:0px;
	color: white;
}

#subheading_holder{
	display: block;
	text-align: center;
	background-color: #87DAF5;
}

#subheading{
	display: inline;
	margin-right: 50px;
	margin-left: 50px;
	
}

.container{
	display: inline-block;
	margin-top: 100px;
}

/* Menu bar */
.sidebar{
	width: 180px;
	border-right-width: 2px;
	border-left-width: 2px;
	border-style: solid;
	margin-top: 50px;
	text-align: center;
	background-color: #87DAF5;
	display: inline-block;
	float: left;
}

/* Main content for each section */
.content{
	/*width: 800px;*/
	max-width: 800px;
	border-right-width: 2px;
	border-left-width: 2px;
	margin-left: 215px;
	float: center;
}

/* Format for when content is a table */
.tableContent{
	max-width: 800px;
	margin-top: 40px;
	border-right-width: 2px;
	border-left-width: 2px;
	margin-left: 250px;
	float: center;
}

.option{
	margin-left: 5px;
	margin-top: 20px;
	margin-bottom: 30px;
}

a:link{
  text-decoration: none;
}

a:visited{
  color: black;
}
